td.columnLeft10p {
    width: 10%;
    text-align: left;
    vertical-align: top;
}

td.columnRight15p {
    width: 15%;
    text-align: right;
    vertical-align: top;
}

td.columnLeft20p {
    width: 20%;
    text-align: left;
    vertical-align: top;
}

td.columnRight20p {
    width: 20%;
    text-align: right;
    vertical-align: top;
}

td.columnLeft25p {
    width: 25%;
    text-align: left;
    vertical-align: top;
}

td.columnRight25p {
    width: 25%;
    text-align: right;
    vertical-align: top;
}

td.columnLeft50p {
    width: 50%;
    text-align: left;
    vertical-align: top;
}

td.columnLeft60p {
    width: 60%;
    text-align: left;
    vertical-align: top;
}